<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>
    <nav>
        {% if user.is_authenticated %}
        <a href="/home">Home</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        <a href="/sign-up">Sign Up</a>
        {% endif %}
    </nav>
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == "error" %}
    <div class="alert" role="alert">
        {{message}}
        <button type="button"><span aria-hidden="true">&times;</span></button>
    </div>
    {% else %}
    <div class="alert2" role="alert">
        {{message}}
        <button type="button"><span aria-hidden="true">&times;</span></button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div>
        {% block content %}{% endblock %}
    </div>
</body>

</html>